// Header Styling

.header {
  // background: lightcoral;
}

  .header__p {
    margin-top: 1rem;
    line-height: 1.25rem;
  }

.bio {
  display: block;
}


@media (min-width: 768px) {
  .header {
    grid-row: 1 / span 2;
    position: fixed;
    width: 20vw;
  }

}


@media (min-width: 968px) {
  .bio {
    display: inline;
  }
}